body {
    background-color: lightcyan;
}

h1 {
    background-color: black;
    color: lightcyan;
    text-align: center;
}

a {
    color: black;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

