body {
    background-color: black;
}

h1 {
    background-color: cyan;
    color: black;
    text-align: center;
}

#source {
    color: cyan;
}

.text {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}
